In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
dftrain=pd.read_csv("train.csv")
dftest=pd.read_csv("test.csv")

In [12]:
# Create correlation matrix
corr_matrix = dftrain.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

# Drop features 
dftrain.drop(to_drop, axis=1, inplace=True)

# Create correlation matrix
corr_matrix2 = dftest.corr().abs()

# Select upper triangle of correlation matrix
upper2 = corr_matrix2.where(np.triu(np.ones(corr_matrix2.shape), k=1).astype(bool))

# Find features with correlation greater than 0.95
to_drop2 = [column for column in upper2.columns if any(upper2[column] > 0.95)]

# Drop features 
dftest.drop(to_drop2, axis=1, inplace=True)


dftrain.drop('id',axis=1,inplace=True)
dftest.drop('id',axis=1,inplace=True)

dftrain.info()
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   clonesize         15289 non-null  float64
 1   honeybee          15289 non-null  float64
 2   bumbles           15289 non-null  float64
 3   andrena           15289 non-null  float64
 4   osmia             15289 non-null  float64
 5   MaxOfUpperTRange  15289 non-null  float64
 6   RainingDays       15289 non-null  float64
 7   fruitset          15289 non-null  float64
 8   fruitmass         15289 non-null  float64
 9   seeds             15289 non-null  float64
 10  yield             15289 non-null  float64
dtypes: float64(11)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   clonesize         10194 non-null  float64
 1   honeybee          10194 non-null  float64
 2   bumbles           10194 non-null  float64
 3   andrena           10194 non-null  float64
 4   osmia             10194 non-null  float64
 5   MaxOfUpperTRange  10194 non-null  float64
 6   RainingDays       10194 non-null  float64
 7   fruitset          10194 non-null  float64
 8   fruitmass         10194 non-null  float64
 9   seeds             10194 non-null  float64
dtypes: float64(10)
memory usage: 796.5 KB

In [16]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
dftrainsc = sc.fit_transform(dftrain)
dftestsc=sc.fit_transform(dftest)
dftrainscaled = pd.DataFrame(dftrainsc, columns = ['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds',
       'yield'])
dftestscaled = pd.DataFrame(dftestsc, columns = ['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds'])
dftrainscaled.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,RainingDays,fruitset,fruitmass,seeds,yield
0,0.500000,0.027130,0.42735,1.000000,0.666667,0.000000,0.69697,0.505601,0.472087,0.423640,0.360383
1,0.500000,0.027130,0.42735,0.666667,0.666667,0.000000,0.69697,0.548911,0.492226,0.480664,0.512907
2,0.083333,0.013565,0.42735,0.840000,0.840000,0.654618,0.69697,0.784034,0.710344,0.663619,0.701073
3,0.083333,0.013565,0.42735,0.840000,0.666667,0.309237,0.69697,0.812440,0.742898,0.709558,0.702639
4,0.500000,0.027130,0.42735,0.840000,0.840000,0.309237,0.69697,0.842261,0.814536,0.751056,0.787942

In [41]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

dftrain[['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds']] = sc.fit_transform(dftrain[['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds']])




dftestsc=sc.fit_transform(dftest)

dftrainscaled = pd.DataFrame(dftrain, columns = ['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds','yield'])
dftestscaled = pd.DataFrame(dftestsc, columns = ['clonesize', 'honeybee', 'bumbles', 'andrena', 'osmia',
       'MaxOfUpperTRange', 'RainingDays', 'fruitset', 'fruitmass', 'seeds'])


dftrainscaled.head()
dftestscaled.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,RainingDays,fruitset,fruitmass,seeds
0,0.545455,0.013565,0.427350,0.333333,0.333333,0.654618,0.696970,0.396122,0.429817,0.324213
1,0.090909,0.013565,0.427350,1.000000,0.840000,1.000000,0.000000,0.607978,0.585255,0.574107
2,0.090909,0.013565,0.427350,0.840000,0.840000,0.654618,0.454545,0.835721,0.782767,0.720343
3,0.545455,0.027130,0.649573,0.506667,0.840000,0.654618,0.454545,0.476504,0.495780,0.403114
4,1.000000,0.040695,0.427350,0.333333,0.333333,1.000000,0.696970,0.304454,0.343879,0.240040

In [44]:
X=dftrainscaled.drop("yield",axis=1)
y=dftrainscaled["yield"]

In [45]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [48]:
from sklearn.linear_model import LinearRegression

In [50]:
lr=LinearRegression()

In [52]:
lr.fit(X,y)

LinearRegression()

In [53]:
predictionlr1=lr.predict(X_test)

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
mean_squared_error(predictionlr1,y_test)

343347.0586701495

In [56]:
predictionlr1=lr.predict(dftestscaled)

In [57]:
dfx = pd.DataFrame(predictionlr1,columns = ['Column_A'])

In [58]:
dfx.to_csv('masood.csv')

In [59]:
from sklearn.ensemble import RandomForestRegressor

In [61]:
rf1=RandomForestRegressor()

In [63]:
rf1.fit(X_train,y_train)

RandomForestRegressor()

In [65]:
predictionlrf1=rf1.predict(dftestscaled)
dfx = pd.DataFrame(predictionlrf1,columns = ['Column_A'])

In [67]:
dfx.to_csv('masoodrf1.csv')

In [ ]:
# think about why your first run was the best maybe because you used more columns so this time do not delete any columns